/* --- Base typography -------------------------------------------------- */
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
    letter-spacing: -0.02em;
}

/* --- Astrofy timeline ---------------------------------------------- */
.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}
